<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <style>
      body {
        background-color: #f0f0f0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
      }
      
      h1 {
        color: #2c3e50;
        font-size: 200px;
      }

      h4 {
        color: #34495e;
        margin-top: 2rem;
        font-size: 120px;
      }

      a {
        color: #2980b9;
        margin: 0.5rem 0;
        text-decoration: none;
        transition: color 0.2s ease-in-out;
        font-size: 100px;
      }

      a:hover {
        color: #3498db;
      }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Dashboard</h1>

    <a href="/auth/logout">Logout</a>
    <br>
    <a href="/dashboard/myposts">My Posts</a>
    <br>
    <a href="/dashboard/upload">Add Post</a>
    <br>
    <a href="/dashboard/posts">All Posts</a>
    <h4>Hello <%= user.charAt(0).toUpperCase()+user.slice(1) %></h4>
  </body>
</html>
